
.sendPost  {
    padding-top: 110px;
    h1{
        text-align: center;
        font-size: 30px;
    }
    .input {
        border: none; 
        outline: none; 
        border-bottom: 1px solid black;
        width: 100%;
    }
    textarea {
        width: 100%;
        white-space: nowrap;  
        border: 1px solid black;
        overflow: auto;
    }
    button {
        width: 100%;
        outline: none;
        border: 1px solid black;
        background-color: white; 
        transition: 0.5s all;
        &:hover {
            background-color: black;
            color: white; 
        
        }
    }
    
}
.update{
    min-height: 600px;
}